# Apple IPv6 time server issues

There have [been reports of one of the IPv6 addresses](https://community.ziggo.nl/t5/user/viewprofilepage/user-id/128998) of `time.apple.com` having issues:


For one, Apple runs their own time servers, so their clients are configured to query `time.apple.com` 

In IPv4, the addresses are:

```shell
$ dig a time.apple.com +short
17.253.52.253
17.253.52.125
17.253.14.251
```

And IPv6:

```shell
$dig a time.apple.com +short
2a01:b740:a30:4000::1f2
2a01:b740:a30:3000::1f2
2a01:b740:a30:4000::1e2
```

 TO investigate that, we use ~ 4k vantage points  from [Ripe Atlas](https://atlas.ripe.net)
 
 Each probe is configured to send 3 NTP packets to `2a01:b740:a30:3000::1f2`
 
 https://atlas.ripe.net/measurements/86426966/overview

In [1]:
import duckdb as db

import numpy as np
con = db.connect('apple')

In [4]:
#let's get all Atlas probes metadata first
con.load_extension("shellfs")
probes_data = con.sql(
    """
        CREATE OR REPLACE TABLE probes AS (
            SELECT * 
            FROM read_json("curl -s https://ftp.ripe.net/ripe/atlas/probes/archive/2025/01/20250127.json.bz2 | bunzip2 -d | jq '.objects' |")
        )
    """
)

con.sql("SELECT * FROM probes LIMIT 5")

┌───────┬────────────────┬──────────────────────┬────────┬───┬──────────┬──────────────────────┬─────────────┐
│  id   │   address_v4   │      address_v6      │ asn_v4 │ … │   day    │        probe         │ status_name │
│ int64 │    varchar     │       varchar        │ int64  │   │ varchar  │       varchar        │   varchar   │
├───────┼────────────────┼──────────────────────┼────────┼───┼──────────┼──────────────────────┼─────────────┤
│     1 │ 45.138.229.91  │ 2a10:3781:e22:1:22…  │ 206238 │ … │ 20250127 │ https://atlas.ripe…  │ Connected   │
│     2 │ NULL           │ NULL                 │   1136 │ … │ 20250127 │ https://atlas.ripe…  │ Abandoned   │
│     3 │ 77.174.76.85   │ 2a02:a467:f500:1:2…  │   1136 │ … │ 20250127 │ https://atlas.ripe…  │ Connected   │
│     4 │ 83.163.50.165  │ 2001:980:57a4:1:22…  │   3265 │ … │ 20250127 │ https://atlas.ripe…  │ Abandoned   │
│     5 │ 83.163.239.181 │ 2001:981:602b:1:22…  │   3265 │ … │ 20250127 │ https://atlas.ripe…  │ Abandoned   │
├───────┴────────────────┴──────────────────────┴────────┴───┴──────────┴──────────────────────┴─────────────┤
│ 5 rows                                                                                20 columns (7 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [8]:
# Create the table 'results'  to store results from measurements
con.execute('''
CREATE or replace  TABLE results (
    id INTEGER,
    ntp_offset FLOAT,
    n_res INTEGER
)
''')

In [12]:
# now let's get the measurements
import requests
import json
url='https://atlas.ripe.net/api/v2/measurements/86426966/results/?format=json'

response = requests.get(url)

# Parse the JSON content
data = json.loads(response.text)

In [14]:
#now let's get three variables from the data, there are more
#probe_id, offset, and nubmer of responses


#now let' s parse these results and add it to 'res', a list that stores it

timeout_all=[]
res_all=[]
for k in data:
    probe=k['prb_id']
    if 'result' in k and len(k['result'])>0:
        offset=[]
        for x in k['result']:
            
            if 'offset' not in x:
                timeout_all.append(k)
            else:

                offset.append(x['offset'])
                
    #print(probe,np.average(offset),len(offset))
    res_all.append(str(probe)+","+ str(np.average(offset))+","  +str(len(offset)))

/usr/lib/python3/dist-packages/numpy/lib/function_base.py:520: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis, **keepdims_kw)
/usr/lib/python3/dist-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [16]:
# Split the elements by ',' and convert the data types
data_tuples = [tuple(int(x) if i != 1 else float(x) for i, x in enumerate(item.split(','))) for item in res_all]

# Insert data into the table
con.executemany('INSERT INTO results VALUES (?, ?, ?)', data_tuples)

In [18]:
#results

# if n_res != 3, it means that the VP cannot reach the ntp server at the time
# for simplicity, let's get all the probes which could not all all reach the ntp server


x=con.sql("select n_res, count(distinct  id) as n_probes from results group by n_res ")
print(x.df())

   n_res  n_probes
0      0       388
1      3      3964
2      2        58
3      1        33

In [20]:
# Create a new table with the filtered rows
#only keep the probes that could not reach the time server
con.execute('''
CREATE or replace TABLE intersection_probes AS
SELECT m.*
FROM probes m
INNER JOIN results p ON m.id = p.id 
WHERE p.n_res = 0

''')

In [22]:
x=con.sql('select count(1) from intersection_probes')
print(x.df())

   count(1)
0       388

In [35]:
# now, let's see where they are from
x=con.sql('''
select asn_v6, country_code, count(distinct id) 
as total from intersection_probes 
where status=1
group by  asn_v6, country_code

order by total desc
''')

print(x.df().to_string())

       asn_v6 country_code  total
0     33915.0           NL     10
1         NaN           US     10
2         NaN           RU      7
3         NaN           GB      6
4         NaN           FR      6
5      8151.0           MX      5
6      6848.0           BE      5
7     12322.0           FR      4
8         NaN           CA      4
9     56478.0           GB      4
10        NaN           DE      4
11     8473.0           SE      4
12     6939.0           RU      4
13        NaN           SE      4
14     4764.0           AU      3
15        NaN           AT      3
16        NaN           JP      3
17        NaN           FI      3
18        NaN           IT      3
19        NaN           PL      3
20     3320.0           DE      3
21        NaN           NL      3
22     9595.0           JP      3
23     2860.0           PT      3
24      852.0           CA      2
25        NaN           IE      2
26   211450.0           MK      2
27     2027.0           FR      2
28        NaN           NO      2
29     1136.0           NL      2
30   135132.0           PH      2
31        NaN           SI      2
32     6939.0           SG      2
33   133802.0           ID      2
34        NaN           HU      2
35        NaN           AU      2
36     6939.0           AT      2
37    13030.0           CH      2
38    48926.0           CZ      2
39     6736.0           IR      2
40    64073.0           NZ      2
41     3303.0           CH      2
42        NaN           BG      2
43    20712.0           GB      2
44    12389.0           RU      2
45     7018.0           US      2
46     6730.0           CH      2
47    34347.0           AT      2
48    28343.0           BR      1
49   206238.0           NL      1
50    59617.0           GB      1
51    21034.0           IT      1
52   264628.0           VE      1
53     6939.0           MD      1
54     6939.0           US      1
55    62275.0           IT      1
56   198288.0           LI      1
57    37084.0           TZ      1
58    24786.0           DE      1
59   206805.0           RU      1
60    62214.0           HU      1
61    29484.0           DE      1
62   262732.0           BR      1
63    30764.0           CZ      1
64    12252.0           PE      1
65    25106.0           BY      1
66        NaN           IR      1
67    13092.0           RS      1
68   215505.0           HU      1
69   215828.0           NL      1
70   206610.0           LU      1
71   208398.0           NL      1
72        NaN           CR      1
73    12301.0           HU      1
74     8239.0           ES      1
75   137566.0           TH      1
76    40490.0           NL      1
77     8400.0           RS      1
78    12897.0           DE      1
79   202898.0           FR      1
80    42369.0           FR      1
81   210630.0           NL      1
82    34612.0           NL      1
83   202196.0           SG      1
84     6799.0           GR      1
85    50300.0           GB      1
86     1741.0           FI      1
87    12611.0           DE      1
88   138384.0           JP      1
89    49037.0           RU      1
90   208906.0           CZ      1
91    51859.0           RS      1
92    12991.0           AT      1
93     5786.0           PR      1
94   202613.0           IT      1
95    21659.0           CA      1
96   142508.0           IN      1
97    51776.0           CH      1
98    35826.0           GB      1
99     8412.0           AT      1
100    6939.0           GB      1
101  327966.0           ZA      1
102  272037.0           PA      1
103  215887.0           UA      1
104       NaN           SG      1
105     378.0           IL      1
106   51026.0           IR      1
107    8772.0           UA      1
108   35807.0           RU      1
109       NaN           RO      1
110   58308.0           FR      1
111    1930.0           PT      1
112    5432.0           BE      1
113   20207.0           AR      1
114  134715.0           BT      1
115  202870.0           IT      1
116   39122.0           NL      1
117   57656.0           ES      1
118       NaN           CN      1
119    7122.0           CA      1
120   10076.0           MN      1
121     786.0           GB      1
122   55824.0           IN      1
123  206186.0           PL      1
124   30844.0           ZM      1
125   31214.0           RU      1
126   46562.0           US      1
127    6939.0           IR      1
128  210189.0           FR      1
129   37723.0           SL      1
130   25512.0           CZ      1
131       NaN           AE      1
132       NaN           ZA      1
133  271791.0           VE      1
134   29695.0           NO      1
135  207650.0           BE      1
136   11488.0           US      1
137  328114.0           ZA      1
138  203618.0           SI      1
139       NaN           TZ      1
140  210278.0           IT      1
141       NaN           VE      1
142    1200.0           NL      1
143   38965.0           NL      1
144       NaN           HR      1
145       NaN           TD      1
146   20555.0           PL      1
147    3329.0           GR      1
148   45102.0           HK      1
149       NaN           DK      1
150    3301.0           SE      1
151   37721.0           GH      1
152  149794.0           IN      1
153     239.0           CA      1
154   29478.0           GB      1
155   40981.0           ME      1
156   57187.0           AE      1
157    7514.0           JP      1
158  205125.0           RU      1
159   51728.0           FI      1
160   32437.0           ZA      1
161   33763.0           AO      1
162     137.0           IT      1
163   12876.0           FR      1
164  201727.0           CZ      1
165   56568.0           KZ      1
166    2856.0           GB      1
167    8399.0           FR      1
168     812.0           CA      1
169   43989.0           IT      1
170  139949.0           ID      1
171   20015.0           CL      1
172    1257.0           SE      1
173       NaN           TR      1
174   53667.0           US      1
175    1103.0           NL      1
176   13852.0           DE      1
177  215007.0           NZ      1
178  263777.0           AR      1
179   25365.0           HR      1
180   30983.0           MA      1
181       NaN           IL      1
182   42209.0           PL      1
183  200639.0           GB      1
184   18881.0           BR      1
185    2107.0           SI      1
186   43065.0           SE      1
187  206484.0           CH      1
188   39028.0           RU      1
189   16019.0           CZ      1
190  199203.0           TW      1
191    8542.0           NO      1
192  265705.0           VE      1
193   10143.0           AU      1
194   34465.0           NL      1
195   50825.0           CZ      1
196    6830.0           SK      1
197       NaN           KR      1
198       NaN           IN      1
199  210645.0           NL      1
200   64112.0           MX      1
201    1213.0           IE      1
202    9471.0           PF      1
203    7922.0           US      1
204    2119.0           NO      1
205   44489.0           CZ      1
206    6181.0           US      1
207   25151.0           NL      1
208   63473.0           US      1
209   20473.0           GB      1
210   12990.0           PL      1
211   51265.0           AT      1
212   24940.0           FI      1
213   48147.0           IR      1
214    6805.0           DE      1
215  199484.0           TR      1
216  138398.0           NZ      1
217   24213.0           ID      1
218   48390.0           CH      1
219  214930.0           ES      1
220   53698.0           US      1
221    6939.0           NL      1
222  140443.0           ID      1
223   39648.0           SE      1
224  206813.0           DE      1
225       NaN           MY      1
226  210140.0           SE      1
227    2516.0           JP      1
228  273120.0           CO      1
229    5645.0           CA      1
230  328358.0           UG      1
231   21263.0           DE      1
232   64116.0           PE      1
233   25467.0           HR      1
234   50971.0           CZ      1
235    8167.0           BR      1
236   39122.0           GB      1
237   33185.0           CA      1
238   25376.0           GB      1
239       NaN           PY      1
240  395152.0           CA      1
241  273843.0           VE      1
242  199837.0           IT      1
243   51375.0           BH      1
244  212129.0           CH      1
245  203649.0           GB      1
246  269829.0           VE      1
247    3352.0           ES      1
248    6939.0           IT      1
249   31554.0           RO      1
250  207995.0           GB      1
251    6057.0           UY      1
252   51184.0           AT      1
253   24971.0           CZ      1
254  202693.0           DE      1
255   56554.0           CZ      1
256    8302.0           CH      1
257   21412.0           LT      1
258  152735.0           GU      1
259  138466.0           AU      1
260   42442.0           DE      1
261  197835.0           IT      1
262   37721.0           CI      1
263  203993.0           NL      1
264    6720.0           AT      1
265  131445.0           TH      1
266  134630.0           ID      1
267   39122.0           IE      1
268       NaN           SK      1
269    1887.0           PL      1
270    8437.0           AT      1
271   27796.0           PA      1
272  329276.0           ZA      1
273   31370.0           RU      1
274    8708.0           RO      1
275   31898.0           US      1
276   28685.0           NL      1
277  209836.0           IR      1

In [37]:
# let's get some sample results

x=con.sql('select * from intersection_probes limit 10')
print(x.df())

     id       address_v4                              address_v6  asn_v4  \
0   416     91.194.69.13       2001:678:150:3:220:4aff:fec6:cc8e   59617
1   677     95.42.140.70  fd32:200f:e857:d20c:220:4aff:fec5:5450    8866
2   867    82.148.227.13        2a00:1b98:1:0:220:4aff:fec7:ae01   25376
3   890    80.92.113.113                 2a02:28e8:d0d0:15::dead   34347
4  1114  171.102.153.241    2001:67c:1232:144:220:4aff:fec7:b0b6    7470
5  1127     66.42.191.76  2600:2b00:8a4f:6ff9:220:4aff:fec7:b079    6181
6  2263     93.186.46.61  fdba:f13d:7b7a:fdba:220:4aff:fee0:252a    3213
7   964    91.215.148.67     2a03:5380:0:1890:220:4aff:fec7:afcf   34612
8  2047     84.24.241.71   2001:1c00:e8e:c100:220:4aff:fee0:244c   33915
9  3450    27.94.196.126   fd06:bdff:cf8:741e:280:a3ff:fe91:442d    2516

    asn_v6         prefix_v4           prefix_v6  is_anchor  is_public  \
0  59617.0    91.194.69.0/24   2001:678:150::/48      False       True
1      NaN    95.42.140.0/22                None      False       True
2  25376.0   82.148.224.0/19      2a00:1b98::/32      False       True
3  34347.0    80.92.112.0/20      2a02:28e8::/32      False       True
4  56554.0  171.102.128.0/19  2001:67c:1230::/46      False       True
5   6181.0    66.42.128.0/18      2600:2b00::/28      False       True
6      NaN    93.186.32.0/20                None      False       True
7  34612.0   91.215.148.0/22      2a03:5380::/32      False       True
8  33915.0      84.24.0.0/14      2001:1c00::/24      False       True
9      NaN      27.94.0.0/16                None      False       True

   status  status_since  first_connected  total_uptime  \
0       1    1737940424       1295878257     178832426
1       1    1737940394       1308052049     303264299
2       1    1737935203       1312197628     398975482
3       1    1737934458       1312182470     370581007
4       1    1737933928       1302754821     156586708
5       1    1737932532       1329972895     397527294
6       1    1737993185       1339866412     297472797
7       1    1737931511       1313509711     302627675
8       1    1737942638       1319821261     391606126
9       1    1737934681       1354547983     226801045

                                                tags country_code  latitude  \
0  [home, no-nat, system-v1, fibre, native-ipv6, ...           GB   53.3505
1  [office, nat, system-v1, system-ipv4-capable, ...           BG   42.7005
2  [no-nat, system-v1, system-ipv4-capable, syste...           GB   53.5805
3  [no-nat, system-v1, system-ipv4-capable, syste...           AT   47.2775
4  [system-ipv6-capable, mobile, system-v1, syste...           CZ   50.0895
5  [fibre, home, nat, ipv4, system-v1, native-ipv...           US   39.1005
6  [office, nat, system-v2, system-ipv4-capable, ...           GB   56.3585
7  [fibre, datacentre, core, no-nat, multihomed, ...           NL   52.3595
8  [home, nat, ziggo, system-v2, system-ipv4-rfc1...           NL   52.0905
9  [nat, system-v2, system-ipv4-capable, system-i...           JP   35.6875

   longitude       day                                       probe status_name
0    -1.5025  20250127   https://atlas.ripe.net/api/v2/probes/416/   Connected
1    23.3105  20250127   https://atlas.ripe.net/api/v2/probes/677/   Connected
2    -2.4395  20250127   https://atlas.ripe.net/api/v2/probes/867/   Connected
3    11.5015  20250127   https://atlas.ripe.net/api/v2/probes/890/   Connected
4    14.4375  20250127  https://atlas.ripe.net/api/v2/probes/1114/   Connected
5   -84.6115  20250127  https://atlas.ripe.net/api/v2/probes/1127/   Connected
6    -4.3695  20250127  https://atlas.ripe.net/api/v2/probes/2263/   Connected
7     5.6505  20250127   https://atlas.ripe.net/api/v2/probes/964/   Connected
8     4.2895  20250127  https://atlas.ripe.net/api/v2/probes/2047/   Connected
9   139.8395  20250127  https://atlas.ripe.net/api/v2/probes/3450/   Connected